<li>
  <span><%= link_to list.name, list_path(list)%></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(list.created_at) %> ago.
  </span>
  <span><%= link_to 'Редактировать', edit_list_path(list) %></span>
</li>
