<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Для получения помощи дождитесь когда все будет готово:)
    </p>

<div style='text-align:left' id='ly_wrap_18XK'><strong id='ly_wrap_18XK_t' style='display:block;margin:10px 0 4px'><a href="//list.ly/list/18XK-luchshii-obiektiv", title="Лучший объектив" target="_blank"> Лучший объектив</a></strong><script type='text/javascript' src='https://list.ly/plugin/show?list=18XK&layout=magazine&per_page=25'></script><div class='ly_wrap_f' style='padding:4px 0 10px'> View more <a href='http://list.ly/' target='_blank'>lists</a> from <a href="http://list.ly/il-ia-kaighorodov", target="_blank"> Илья Кайгородов</a></div></div>
