<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Для получения помощи дождитесь когда все будет готово:)
    </p>




<div id="slylist" data-list-id="1"></div>

<script src="http://slylist.com/plugin.js" type="text/javascript"></script>


