<h1>Список списков</h1>
<table>

  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.title, list_path(list)%> | </td>
      <td><%= list.items.count %> Пунктов | </td>
      <td> Автор <%= link_to list.user.username, user_path(list.user) %></td>
    </tr>
  <% end %>
</table>


