<h1>Все списки</h1>

<table>

  <% @lists.each do |list| %>
    <tr>
      <td><%= link_to list.name, list_path(list)%></td>
      <td><%= link_to list.user.username, user_path(list.user) %></td>
    </tr>
  <% end %>
</table>
