<div class="dropdown">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu10" rel="tooltip" data-toggle="dropdown" data-placement="top" title="Изменить сортировку">
    Сортировка
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu10">
    <li role="presentation">
      <a href="" data-remote="true" class="items_sort" data-sort="rating_desc">По умолчанию</a>
    </li>
    <li role="presentation" class="dropdown-header">По рейтингу</li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="rating_desc">Больше</a>
    </li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="rating_asc">Меньше</a>
    </li>
    <li role="presentation" class="dropdown-header">По комментариям</li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="comts_desc">Больше</a>
    </li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="comts_asc">Меньше</a>
    </li>
    <li role="presentation" class="dropdown-header">По дате</li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="created_at_desc">Новое</a>
    </li>
    <li role="presentation">
    <a href="" data-remote="true" class="items_sort" data-sort="created_at_asc">Старое</a>
    </li>
  </ul>
</div>
