<%= @user.username %>
<% if user_signed_in? %>
<%= link_to 'Редактировать', edit_user_registration_path %>
<% end %>

<% if @user.lists.any? %>
      <h3>Списки (<%= @user.lists.count %>)</h3>
      <ol>
        <%= render @lists %>
      </ol>
    <% end %>

