// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.right-block {
  display: block;
  float:right;
  margin-top:5px;
}




/* list */

.list {
  max-width:728px;
  margin-left:auto;
  margin-right:auto;
}

.listitem{
  list-style-position:inside;
  margin-left:0px;
  padding-left:0px;
  list-style:none;
}
.listitem > LI:before {
content: counter(list) " ";
font-size:2em;
color:#808080;
}
.listitem > li {
counter-increment:list;
}

.listitem h2 {
  display:inline;
  }
.list-footer{
  display: inline;
}
.list-footer-right{
  display: inline;
  padding-right:0px;
}

.line-item {
  margin-top: 0.7em;
}






/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #eaeaea;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* Кнопки голосования */

.vote-block {
  display: inline-block;
}

.vote-button {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: none;
  margin-right: 5px;
}
.bth-like{
  background: white url("icon-up.svg");
}

.bth-like:hover {
  background: white url("icon-up-active.svg");
}
.bth-like-active {
  background: white url("icon-up-active.svg");
}
.bth-dislike{
  background: white url("icon-down.svg");
}
.bth-dislike:hover {
  background: white url("icon-down-active.svg");
}
.bth-dislike-active {
  background: white url("icon-down-active.svg");
}
