<div class="vote-block" >
  <%= form_for :vote, url: list_item_votes_path(item.list, item),
                      remote: true, :format => :json do |f| %>
    <%= f.hidden_field :vot, value:'up' %>
    <button type="submit"
            class="fa fa-arrow-circle-o-up fa-2x vote-button bth-like"
            aria-hidden="true"
            rel="tooltip" title="Нравится">
    </button>
  <% end %>
</div>
<div class="vote-block">
  <%= form_for :vote, url: list_item_votes_path(item.list, item),
                      remote: true, :format => :json do |f| %>
    <%= f.hidden_field :vot, value:'down' %>
    <button type="submit"
            class="fa fa-arrow-circle-o-down fa-2x vote-button bth-dislike"
            aria-hidden="true"
            rel="tooltip" title="Не нравится">
    </button>
  <% end %>
</div>

