<footer class="footer">
  <small>
    <a href="#">© ListThis! 2016</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
</footer>
