<header class="navbar navbar-fixed-top navbar-inverse" >
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "ListThis!", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-right  navbar-nav">
              <% if user_signed_in? %>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to current_user.username, current_user %></li>
              <% else %>
              <li><%= link_to "Войти", new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
